body {
    width: 99%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #74c0fc
}

/* .btn {
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 40px 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #183153
} */

.row-outer {
    width: 500px;
    height: 500px;
    background-color: #f0cd1c;
    padding-top: 55px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.1);
}

.row-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.row-inner-text {

    color: #183153;
    padding-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: Poppins;
    letter-spacing: 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tog {
    width: 40px;
    height: 40px;
    padding: 40px 40px;
    border-radius: 10px;
    background-color: #183153;
    margin: 5px;
}

/* .tog:active {
    border-radius: 50%;
    transition: 0.1s;
} */